---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<section
	data-testid="projects"
	id="projects"
	class="flex h-1/2 flex-col items-center justify-center"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-3xl">Projects</h2>
	<span class="h-1 w-20 bg-orange"></span>
	<div class="mt-5 flex w-full flex-col items-center">
		{
			projects.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					description={project.data.description}
					alt={project.data.img_alt}
					tags={project.data.tags}
				/>
			))
		}
	</div>
</section>
